{% extends "base.html" %}

{% block content %}
  <h2>Welcome to My CRM Application</h2>
  <a href="{{ url_for('import_leads') }}" class="btn">Importer un fichier Excel de leads</a>
  <form action="{{ url_for('add_teleprospector') }}" method="post">
    <input type="text" name="teleprospector_name" placeholder="Nom du téléprospecteur" required>
    <input type="submit" value="Ajouter">
  </form>
  <a href="{{ url_for('view_teleprospectors') }}" class="btn">Liste des téléprospecteurs</a>
{% endblock %}
