<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="text-center my-4">Leads</h1>
    <div class="my-4">
        {% for lead in leads %}
            <p class="lead">{{ lead.name }}</p>
        {% endfor %}
    </div>

    <a href="{{ url_for('view_teleprospectors') }}" class="btn btn-secondary">Retour à la liste des téléprospecteurs</a>
</div>
</body>
</html>
